.DS_Store
13_api/lesson_git/.ipynb_checkpoints/*
13_api/homework/.ipynb_checkpoints/*
13_api/practice/.ipynb_checkpoints/*
19_data_visualization/homework/.ipynb_checkpoints/*
20_feature_engineering/homework/.ipynb_checkpoints/*

